body {
	background-color: #000000;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

.jijia_nav {
	border-radius: 0;
	border: none;
	height: 66px;
	background-color: rgba(28, 28, 28, .8);
	
}

.jijia_nav_logo {
	padding: 0;
	padding-right: 80px;
}

.jijia_nav_logo img {
	width: 75%;
}

.dropdown {
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: white;
	background: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background: none;
	color: white;
}

.dropdown:hover {
	background: none;
}

.jijia_nav .navbar-collapse {
	border: none;
}

.jijia_nav .navbar-collapse {
	box-shadow: none;
}

@media screen and (max-width:768px) {
	.jijia_navbar_nav {
		border-top: none;
		padding: 0;
		margin-top: 15px;
	}
	.jijia_nav .navbar-collapse {
		margin-top: 16px;
		background-color: rgba(0, 0, 0, .8);
		;
	}
}

.jijia_nav .navbar-form {
	border: none;
	box-shadow: none;
}

@media (max-width: 988px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #fff;
		background-color: transparent;
	}
}

.jijia_navbar_nav .dropdown .dropdown-menu {
	margin-top: 4px;
	background-color: #000000;
	width: 100%;
}

.dropdown_menu {
	position: absolute;
	background-color: rgba(0, 0, 0, .8);
	top: 66px;
	left: 0;
	width: 100%;
}

.dropdown_menu div img {
	width: 120px;
}

.cp-box {
	margin-top: 25px;
}

.dropdown_menu div .media .media-body a {
	color: #fff;
	font-size: 12px;
}

.dropdown_menu div .media .media-body a:hover {
	color: #31B0D5;
	text-decoration: none;
}

.dropdown_menu div .media .media-body .sp a {
	font-size: 10px;
	color: #666;
}

.jijia_cp,
.jijia_dj {
	display: none;
}


/*轮播图*/


/*.lunbo{
		position: absolute;
		top: 0;
		left: 0;
		z-index: -222;
	}*/

@media (max-width: 768px) {
	.header {
		position: relative;
		top: 0;
		margin-bottom: -20px;
	}
}

.carousel-inner .pc {
	height: 564px;
	display: block;
}

.carousel-inner .pc {
	display: block;
	width: 100%;
	height: 100%;
}

.carousel-inner .pc img {
	width: 100%;
	height: 100%;
}

.lunbo .carousel-indicators .active {
	background-color: #2AABD2;
}


/*信息*/

.xixin {
	margin: 0 auto;
	width: 100%;
	display: block;
	background: url(../img/index/download.jpg) no-repeat 0 0;
	background-size: 100%;
	/* 	height: 400px;*/
}

.xixinbox {
	margin-top: -20px;
}

.box {
	width: 100%;
	padding: 0;
	box-shadow: 0px 5px 10px #000000;
	margin-bottom: 4%;
}

.box div {
	padding-left: 3px;
	height: 175px;
	line-height: 100px;
	/*text-align: center;*/
	/*margin-right: 3px;*/
	margin-top: 3px;
	padding: 0;
}

@media (max-width: 768px) {
	.xixinbox {
		margin-left: 35px;
		margin-top: 0;
	}
	.box div {
		height: 375px;
	}
	.xixin {
		background: none;
	}
}

#me {
	height: 353px;
	margin-top: 3px;
	line-height: 100px;
	padding: 0;
}

.box div a {
	position: relative;
	width: 98%;
	height: 100%;
	display: block;
	transition: all .3s ease;
}

.box div a:hover div {
	box-shadow: inset 0px 0px 27px #067fa8;
}

.box div a div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .3s ease;
}

.box div p {
	z-index: 11;
	position: absolute;
	bottom: 0;
	text-align: left;
	line-height: 23px;
	font-family: 'Oswald', 'Lato', "微軟正黑體", Microsoft JhengHei, "微軟雅黑體", Microsoft YaHei, SimHei, "新細明體", Arial, Verdana, Helvetica, sans-serif;
	color: #FFF;
	font-size: 1.2em;
	text-transform: uppercase;
	transition: background .3s ease;
	display: block;
	margin-bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #000000;
	background: url(../img/index/blue.png) no-repeat center;
	background-position-x: 95%;
}

.box div a:hover p {
	background: url(../img/index/white.png) no-repeat center;
	background-position-x: 95%;
	background-color: #067fa8;
	;
}
/*jiaobu*/
.footer {
	background: url(../img/index/fooybg.jpg) no-repeat top left;
}

.footer_box {
	margin-top: 30px;
}

.footer_box ul li a {
	color: #444444;
}

.footer_box ul li dt {
	font-size: 14px;
}

.footer_box ul li dd {
	font-size: 12px;
}

.footer_box ul li a.sp_red {
	font-weight: bold;
	color: red;
}

.copyright {
	font-size: 14px;
}

.copyright a {
	color: #444444;
}

.copyright a:hover {
	color: #428BCA;
}