<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>技嘉显卡</title>

		<!-- Bootstrap -->
		<!--引入bootstrap的css文件-->
		<link href="lib/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
    <script src="lib/html5shiv-3.7.3/dist/html5shiv.min.js"></script>
    <script src="lib/Respond-1.4.2/src/respond.js"></script>
    <![endif]-->
	</head>
	<script src="lib/jquery-1.12.4.js"></script>
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/xianka.css" />

	<body>
		<!--TODO-->
		<div class="content">
			<header class="header">
				<nav class="navbar navbar-default jijia_nav" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
							<a class="navbar-brand jijia_nav_logo" href="index.html"><img src="img/index/logo_CN.png" /></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav jijia_navbar_nav">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle sa" data-toggle="dropdown">产品 <span class="caret"></span></a>
									<ul class="dropdown-menu hidden-lg hidden-md hidden-sm" role="menu">
										<li>
											<a href="#">主板</a>
										</li>
										<li>
											<a href="xianka.html">显卡</a>
										</li>
										<li>
											<a href="#">桌上型电脑</a>
										</li>
										<li>
											<a href="#">Separated link</a>
										</li>
										<li>
											<a href="#">笔记本电脑 / 平板电脑</a>
										</li>
										<li>
											<a href="#">电脑周边配备 / 电脑零组件</a>
										</li>
										<li>
											<a href="#">专业解决方案</a>
										</li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle ss" data-toggle="dropdown">电竞 <span class="caret"></span></a>
									<ul class="dropdown-menu hidden-lg hidden-md hidden-sm" role="menu">
										<li>
											<a href="#">G1 Gaming</a>
										</li>
										<li>
											<a href="xg.html">XTREME GAMING</a>
										</li>
										<li>
											<a href="#">电竞装备</a>
										</li>
										<li>
											<a href="#">AORUS</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">企业应用</a>
								</li>
								<li>
									<a href="#">支持</a>
								</li>
								<li>
									<a href="#">购买</a>
								</li>
							</ul>

							<ul class="nav navbar-nav navbar-right">
								<form class="navbar-form navbar-left" role="search">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Search">

								</form>
								<li>
									<a href="#">广告</a>
								</li>

							</ul>
							</div>
							<!-- /.navbar-collapse -->
						</div>
						<!-- /.container-fluid -->
				</nav>
				<div class="dropdown_menu  hidden-xs jijia_cp">
					<div class="container">
						<div class="col-lg-4 col-md-6 col-sm-6 cp-box">
							<div class="media">
								<a class="media-left" href="#">
									<img src="img/index/t1.png" alt="...">
								</a>
								<div class="media-body">
									<dl>
										<dt><a href="javascript:;">主板</a></dt>
										<dd>
											<a href="javascript:;">超耐久系列</a>
										</dd>
										<dd>
											<a href="javascript:;">游戏玩家系列</a>
										</dd>
										<dd>
											<a href="javascript:;">超频玩家系列</a>
										</dd>
										<dd class="sp">
											<a href="javascript:;">全系列》</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6  cp-box">
							<div class="media">
								<a class="media-left" href="#">
									<img src="img/index/t6.png" alt="...">
								</a>
								<div class="media-body">
									<dl>
										<dt><a href="javascript:;">显卡</a></dt>
										<dd>
											<a href="xg.html">XTREME GAMING 系列</a>
										</dd>
										<dd>
											<a href="javascript:;">NVIDIA 系列</a>
										</dd>
										<dd class="sp">
											<a href="javascript:;">全系列》</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6  cp-box">
							<div class="media">
								<a class="media-left" href="#">
									<img src="img/index/t7.png" alt="...">
								</a>
								<div class="media-body">
									<dl>
										<dt><a href="javascript:;">桌上型电脑</a></dt>
										<dd>
											<a href="javascript:;">BRIX 迷你 PC 套件</a>
										</dd>
										<dd>
											<a href="javascript:;">微型电脑</a>
										</dd>
										<dd class="sp">
											<a href="javascript:;">全系列》</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6  cp-box">
							<div class="media">
								<a class="media-left" href="#">
									<img src="img/index/t2.png" alt="...">
								</a>
								<div class="media-body">
									<dl>
										<dt><a href="javascript:;">笔记本电脑 / 平板电脑</a></dt>
										<dd>
											<a href="javascript:;">游戏性能王</a>
										</dd>
										<dd>
											<a href="javascript:;">超极本(轻薄行动伙伴)</a>
										</dd>
										<dd>
											<a href="javascript:;">触控系内（2 in 1）</a>
										</dd>
										<dd>
											<a href="javascript:;">Main Stream 系列</a>
										</dd>
										<dd>
											<a href="javascript:;">Windows 平板</a>
										</dd>
										<dd class="sp">
											<a href="javascript:;">全系列》</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6  cp-box">
							<div class="media">
								<a class="media-left" href="#">
									<img src="img/index/t9.png" alt="...">
								</a>
								<div class="media-body">
									<dl>
										<dt><a href="javascript:;">电脑周边配备 / 电脑零组件</a></dt>
										<dd>
											<a href="javascript:;">键盘</a>
										</dd>
										<dd>
											<a href="javascript:;">鼠标</a>
										</dd>
										<dd>
											<a href="javascript:;">耳机</a>
										</dd>
										<dd>
											<a href="javascript:;">机箱</a>
										</dd>
										<dd>
											<a href="javascript:;">电源</a>
										</dd>
										<dd class="sp">
											<a href="javascript:;">全系列》</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 cp-box">
							<div class="media">
								<a class="media-left" href="#">
									<img src="img/index/t3.png" alt="...">
								</a>
								<div class="media-body">
									<dl>
										<dt><a href="javascript:;">专业解决方案</a></dt>
										<dd>
											<a href="javascript:;">NVIDIA® QUADRO® 系列</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dropdown_menu  hidden-xs jijia_dj">
					<div class="container">
						<div class="col-lg-4 col-md-6 col-sm-6 cp-box">
							<div class="media">
								<a class="media-left" href="#">
									<img src="img/index/t8.png" alt="...">
								</a>
								<div class="media-body">
									<dl>
										<dt><a href="javascript:;">G1 Gaming</a></dt>
										<dd>
											<a href="javascript:;">主板</a>
										</dd>
										<dd>
											<a href="javascript:;">显卡</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6  cp-box">
							<div class="media">
								<a class="media-left" href="#">
									<img src="img/index/t4.png" alt="...">
								</a>
								<div class="media-body">
									<dl>
										<dt><a href="xg.html">XTREME GAMING</a></dt>
										<dd>
											<a href="javascript:;">显卡</a>
										</dd>
										<dd>
											<a href="javascript:;">鼠标</a>
										</dd>
										<dd>
											<a href="javascript:;">电源</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6  cp-box">
							<div class="media">
								<a class="media-left" href="#">
									<img src="img/index/t5.png" alt="...">
								</a>
								<div class="media-body">
									<dl>
										<dt><a href="javascript:;">电竞装备</a></dt>
										<dd>
											<a href="javascript:;">笔记本电脑</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>

					</div>
				</div>
			</header>

			<!--轮播图-->
			<div class="lunbo">
				<div class="container-fluid">
					<div class="row">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<!-- 小圆点动态生成 -->
							<ol class="carousel-indicators" id="points">

							</ol>

							<!-- 轮播的内容 -->
							<div class="carousel-inner" role="listbox" id="inner">

							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
						<script type="text/template" id="pointBox">
							<% for(var p=0;p<leg;p++){%>
							<li data-target="#carousel-example-generic" data-slide-to="<%=p%>" class="<%=(p==0?'active':'')%>"></li>
							<% }%>
						</script>
						<script type="text/template" id="imgBox">
							<%for(var i=0;i<imgInfo.length;i++){%>
							<div class="<%=(i==0?'item active':'item')%>">
								<a href="#" class="pc"><img <%=imgInfo[i].bac%>/></a>
							</div>
							<%}%>
						</script>
					</div>
				</div>
			</div>
			</script>
			<!--信息-->
			<div class="xianka-cp">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-2 xianka-cp-nav">
							<ul>
								<li>
									<a href="xg.html">XTREME GAMING</a>
								</li>
								<li>
									<a href="javascript:;">G1 GAMING</a>
								</li>
								<li class="dropdown bg">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">NVIDA</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="#">G1 Gaming</a>
										</li>
										<li>
											<a href="#">XTREME GAMING</a>
										</li>
										<li>
											<a href="#">电竞装备</a>
										</li>
										<li>
											<a href="#">AORUS</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="javascript:;">Accessory</a>
								</li>
								<li>
									<a href="javascript:;">停售产品</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-8 newsbox">
							<div class="row">
								<h3>显卡</h3></div>
							<div class="row news">
								<div class="col-sm-4 rel guan-box">
									<div class="guang"></div>
									<a href="#"><img src="img/xianka/11834.jpg" /> </a>
									<div class="news-more">High End Awarda
										<a href="#">More</a><span class="news-pic"><img src="img/xianka/award_button.png"/></span></div>
								</div>
								<div class="col-sm-4 rel guan-box">
									<div class="guang"></div>
									<a href="#"><img src="img/xianka/1355.jpg" /></a>
									<div class="news-more">技嘉发表GeForce® GTX TITAN X显卡
										<a href="#">More</a><span class="news-pic"><img src="img/xianka/news_button.png"/></span></div>
								</div>
								<div class="col-sm-4 rel guan-box">
									<div class="guang"></div>
									<a href="#"><img src="img/xianka/193.jpg" /></a>
									<div class="news-more">GeForce GTX 1060 G1 Gaming 6G显卡
										<a href="#">More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<!--<nav id="main-nav" class="navigation overflow hidden-sm hidden-md hidden-lg little-nav">
	<ul>
					<li><a href="javascript:;">XTREME GAMING</a></li>
					<li><a href="javascript:;">G1 GAMING</a></li>
					 <li class="dropdown bg">
          			<a href="#" class="dropdown-toggle" data-toggle="dropdown">NVIDA</a>
          			<ul class="dropdown-menu" role="menu">
            		<li><a href="#">G1 Gaming</a></li>
            		<li><a href="#">XTREME GAMING</a></li>
            		<li><a href="#">电竞装备</a></li>
            		<li><a href="#">AORUS</a></li>
          				</ul>
        			</li>
					<li><a href="javascript:;">Accessory</a></li>
					<li><a href="javascript:;">停售产品</a></li>
				</ul>
</nav>-->
		<!--foot-->
		<div class="footer hidden-xs">
			<div class="container footer_box">
				<div class="row">
					<ul>
						<li class="col-sm-2 col-sm-offset-2">
							<dl>
								<dt><a href="#">关于技嘉</a></dt>
								<dd>
									<a href="#">诚聘英才</a>
								</dd>
								<dd>
									<a href="#">投资人</a>
								</dd>
								<dd>
									<a href="#">社会责任</a>
								</dd>
							</dl>
						</li>
						<li class="col-sm-2">
							<dl>
								<dt><a href="">最新消息</a></dt>
								<dd>
									<a href="">获奖</a>
								</dd>
								<dd>
									<a href="">社群</a>
								</dd>
								<dd>
									<a href="">视频专区</a>
								</dd>
								<dd>
									<a href="">新闻室</a>
								</dd>

							</dl>
						</li>

						<li class="col-sm-2">
							<dl>
								<dt><a href="">服务支持</a></dt>
								<dd>
									<a href="">问题集</a>
								</dd>
								<dd>
									<a href="">档案下载</a>
								</dd>
								<dd>
									<a href="">技术支持</a>
								</dd>
								<dd>
									<a href="">保修服务</a>
								</dd>
								<dd>
									<a href="">正品验证</a>
								</dd>
								<dd>
									<a href="" class="sp_red">主板四年保</a>
								</dd>
							</dl>
						</li>
						<li class="col-sm-2">
							<dl>
								<dt><a href="">联系我们</a></dt>
								<dd>
									<a href="">代理商专区</a>
								</dd>
								<dd>
									<a href="">网站寻览</a>
								</dd>
								<dd>
									<a href="" class="sp_red">主板会员网站</a>
								</dd>
							</dl>
						</li>
						<li class="col-sm-2">
							<dl>
								<dt><a href=""><img src="img/index/cnnic.png" width="50%" height="50%"/></a></dt>
								<dd>
									<a href="">备案序号:沪ICP备15008408号</a>
								</dd>
								<dd>
									<a href=""><img src="img/index/picp_bg.png" width="60%" height="60%" /></a>
								</dd>
								<dd>
									<a href="">建议使用IE8以上浏览器</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="row copyright">
					<p class="text-center">©2016 技嘉科技股份有限公司。 著作权所有，并保留一切权利。
						<a href="#">网站服务条款 </a>
						<a href="#">隐私声明</a>
					</p>
				</div>
			</div>

			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

			<script src="js/template-native.js"></script>
			<script src="js/xianka.js"></script>
			<!-- Include all compiled plugins (below), or include individual files as needed -->
			<script src="lib/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>

	</body>

</html>